In [56]:
import json
import pandas as pd
from ibmpairs import paw, authentication

PAIRS_API_KEY = 'hAiaRJNxNPU704V09GNCFZvOSHXhFkZcRyb0KJAj2FY' # Put your API key here. Important: Best practice is not to include secrets in source code.
PAIRS_SERVER   = 'https://pairs.res.ibm.com/'
PAIRS_CREDENTIALS = authentication.OAuth2(api_key = PAIRS_API_KEY)

In [27]:
PAIRS_CREDENTIALS.refresh_auth_token()
auth_header = {'Authorization': f'Bearer {PAIRS_CREDENTIALS.jwt_token}'}

2022-05-26 18:17:13 - paw - INFO - Attempting to refresh authentication token.
2022-05-26 18:17:14 - paw - INFO - The token was successfully refreshed.

In [16]:
#Function that creates point queries
def create_point_query(layer_id,lat,long,start,end):
    
    query_json = {
       "layers" : [
         {"type" : "raster", "id" : layer_id}
       ],
       "spatial" : {"type" : "point", "coordinates" : [lat, long]},
       "temporal" : {"intervals" : [
         {"start" : start, "end" : end}
       ]}
     }
    
    return query_json

<h1>Extract Data from different layers of ESA: Sentinel 2 <h1>

In [3]:
#Point query to 16 day weather forecast (GFS) (latest predictions). Data layer = Ground tempreature
point_query = create_point_query("16100","35.7","139.7","2015-01-01T00:00:00Z","2018-10-31T00:00:00Z")

In [4]:
query = paw.PAIRSQuery(point_query, PAIRS_SERVER, PAIRS_CREDENTIALS, authType='api-key')
query.submit()

`pairsHost`='https://pairs.res.ibm.com/' and `baseURI`='/' merged to: 'https://pairs.res.ibm.com/'
C:\Users\Didem Durukan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
GeoPandas not available on your system. Cannot convert vector dataframe to GeoPandas dataframe.

In [5]:
print(query.vdf)

       layerId      timestamp  longitude  latitude       value  region  \
0        16100  1421528400000      139.7      35.7  273.918213     NaN
1        16100  1421539200000      139.7      35.7  276.215088     NaN
2        16100  1421550000000      139.7      35.7  279.270203     NaN
3        16100  1421560800000      139.7      35.7  280.529205     NaN
4        16100  1421571600000      139.7      35.7  278.194702     NaN
...        ...            ...        ...       ...         ...     ...
11029    16100  1540900800000      139.7      35.7  292.996490     NaN
11030    16100  1540911600000      139.7      35.7  290.832428     NaN
11031    16100  1540922400000      139.7      35.7  289.580719     NaN
11032    16100  1540933200000      139.7      35.7  288.469727     NaN
11033    16100  1540944000000      139.7      35.7  289.536591     NaN

       property  alias            geometry
0           NaN    NaN  POINT (139.7 35.7)
1           NaN    NaN  POINT (139.7 35.7)
2           NaN    NaN  POINT (139.7 35.7)
3           NaN    NaN  POINT (139.7 35.7)
4           NaN    NaN  POINT (139.7 35.7)
...         ...    ...                 ...
11029       NaN    NaN  POINT (139.7 35.7)
11030       NaN    NaN  POINT (139.7 35.7)
11031       NaN    NaN  POINT (139.7 35.7)
11032       NaN    NaN  POINT (139.7 35.7)
11033       NaN    NaN  POINT (139.7 35.7)

[11034 rows x 9 columns]

In [20]:
# ESA: Sentinel 2, Normalized difference vegetation index, UK
nvdi_sentinel2_point_query = create_point_query("49464","52.2725521","-2.8527878","2018-05-26T00:00:00Z","2019-05-26T00:00:00Z")

In [21]:
sentinel2_nvdi = paw.PAIRSQuery(nvdi_sentinel2_point_query, PAIRS_SERVER, PAIRS_CREDENTIALS, authType='api-key')
sentinel2_nvdi.submit()

`pairsHost`='https://pairs.res.ibm.com/' and `baseURI`='/' merged to: 'https://pairs.res.ibm.com/'
C:\Users\Didem Durukan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
GeoPandas not available on your system. Cannot convert vector dataframe to GeoPandas dataframe.

In [24]:
print(sentinel2_nvdi.vdf)

    layerId      timestamp  longitude   latitude   value  region  property  \
0     49464  1538438400000  -2.852788  52.272552  0.1465     NaN       NaN
1     49464  1538870400000  -2.852788  52.272552  0.4119     NaN       NaN
2     49464  1539302400000  -2.852788  52.272552  0.0148     NaN       NaN
3     49464  1539734400000  -2.852788  52.272552  0.4290     NaN       NaN
4     49464  1540166400000  -2.852788  52.272552  0.4807     NaN       NaN
5     49464  1540598400000  -2.852788  52.272552  0.0309     NaN       NaN
6     49464  1541030400000  -2.852788  52.272552  0.3040     NaN       NaN
7     49464  1541462400000  -2.852788  52.272552  0.1627     NaN       NaN
8     49464  1541894400000  -2.852788  52.272552  0.5277     NaN       NaN
9     49464  1542326400000  -2.852788  52.272552 -0.0140     NaN       NaN
10    49464  1542758400000  -2.852788  52.272552 -0.0518     NaN       NaN
11    49464  1543190400000  -2.852788  52.272552  0.2898     NaN       NaN
12    49464  1543622400000  -2.852788  52.272552 -0.0333     NaN       NaN
13    49464  1544054400000  -2.852788  52.272552  0.0274     NaN       NaN
14    49464  1544486400000  -2.852788  52.272552  0.1313     NaN       NaN
15    49464  1544918400000  -2.852788  52.272552  0.2458     NaN       NaN
16    49464  1545350400000  -2.852788  52.272552  0.0854     NaN       NaN
17    49464  1545782400000  -2.852788  52.272552  0.0814     NaN       NaN
18    49464  1546214400000  -2.852788  52.272552  0.0415     NaN       NaN
19    49464  1546646400000  -2.852788  52.272552  0.0724     NaN       NaN
20    49464  1547078400000  -2.852788  52.272552 -0.0139     NaN       NaN
21    49464  1547510400000  -2.852788  52.272552  0.0127     NaN       NaN
22    49464  1547942400000  -2.852788  52.272552 -0.0375     NaN       NaN
23    49464  1548374400000  -2.852788  52.272552  0.0681     NaN       NaN
24    49464  1548806400000  -2.852788  52.272552  0.3495     NaN       NaN
25    49464  1549238400000  -2.852788  52.272552  0.2381     NaN       NaN
26    49464  1549670400000  -2.852788  52.272552  0.1862     NaN       NaN
27    49464  1550102400000  -2.852788  52.272552  0.1576     NaN       NaN
28    49464  1550534400000  -2.852788  52.272552  0.1623     NaN       NaN
29    49464  1550966400000  -2.852788  52.272552  0.0889     NaN       NaN
30    49464  1551398400000  -2.852788  52.272552 -0.0384     NaN       NaN
31    49464  1551830400000  -2.852788  52.272552  0.0109     NaN       NaN
32    49464  1552262400000  -2.852788  52.272552  0.2745     NaN       NaN
33    49464  1552694400000  -2.852788  52.272552 -0.0328     NaN       NaN
34    49464  1553126400000  -2.852788  52.272552  0.2090     NaN       NaN
35    49464  1553558400000  -2.852788  52.272552  0.2330     NaN       NaN
36    49464  1553990400000  -2.852788  52.272552  0.0507     NaN       NaN

    alias                       geometry
0     NaN  POINT (-2.8527878 52.2725521)
1     NaN  POINT (-2.8527878 52.2725521)
2     NaN  POINT (-2.8527878 52.2725521)
3     NaN  POINT (-2.8527878 52.2725521)
4     NaN  POINT (-2.8527878 52.2725521)
5     NaN  POINT (-2.8527878 52.2725521)
6     NaN  POINT (-2.8527878 52.2725521)
7     NaN  POINT (-2.8527878 52.2725521)
8     NaN  POINT (-2.8527878 52.2725521)
9     NaN  POINT (-2.8527878 52.2725521)
10    NaN  POINT (-2.8527878 52.2725521)
11    NaN  POINT (-2.8527878 52.2725521)
12    NaN  POINT (-2.8527878 52.2725521)
13    NaN  POINT (-2.8527878 52.2725521)
14    NaN  POINT (-2.8527878 52.2725521)
15    NaN  POINT (-2.8527878 52.2725521)
16    NaN  POINT (-2.8527878 52.2725521)
17    NaN  POINT (-2.8527878 52.2725521)
18    NaN  POINT (-2.8527878 52.2725521)
19    NaN  POINT (-2.8527878 52.2725521)
20    NaN  POINT (-2.8527878 52.2725521)
21    NaN  POINT (-2.8527878 52.2725521)
22    NaN  POINT (-2.8527878 52.2725521)
23    NaN  POINT (-2.8527878 52.2725521)
24    NaN  POINT (-2.8527878 52.2725521)
25    NaN  POINT (-2.8527878 52.2725521)
26    NaN  POINT (-2.8527878 52.2725521)
27    NaN  POINT (-2.8527878 52.2725521)
28    NaN  POINT (-2.8527878 52.2725521)
29    NaN  POINT (-2.8527878 52.2725521)
30    NaN  POINT (-2.8527878 52.2725521)
31    NaN  POINT (-2.8527878 52.2725521)
32    NaN  POINT (-2.8527878 52.2725521)
33    NaN  POINT (-2.8527878 52.2725521)
34    NaN  POINT (-2.8527878 52.2725521)
35    NaN  POINT (-2.8527878 52.2725521)
36    NaN  POINT (-2.8527878 52.2725521)

In [17]:
# ESA: Sentinel 2, Cloud Probability, UK
cloud_prop_sentinel2_point_query = create_point_query("50250","52.2725521","-2.8527878","2018-05-26T00:00:00Z","2019-05-26T00:00:00Z")

In [18]:
sentinel2_cloud_prob = paw.PAIRSQuery(cloud_prop_sentinel2_point_query, PAIRS_SERVER, PAIRS_CREDENTIALS, authType='api-key')
sentinel2_cloud_prob.submit()

`pairsHost`='https://pairs.res.ibm.com/' and `baseURI`='/' merged to: 'https://pairs.res.ibm.com/'
C:\Users\Didem Durukan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
GeoPandas not available on your system. Cannot convert vector dataframe to GeoPandas dataframe.

In [19]:
print(sentinel2_cloud_prob.vdf)

    layerId      timestamp  longitude   latitude  value  region  property  \
0     50250  1538438400000  -2.852788  52.272552  100.0     NaN       NaN
1     50250  1538611200000  -2.852788  52.272552    0.0     NaN       NaN
2     50250  1538870400000  -2.852788  52.272552   51.0     NaN       NaN
3     50250  1539043200000  -2.852788  52.272552    0.0     NaN       NaN
4     50250  1539302400000  -2.852788  52.272552   93.0     NaN       NaN
..      ...            ...        ...        ...    ...     ...       ...
68    50250  1553126400000  -2.852788  52.272552    7.0     NaN       NaN
69    50250  1553299200000  -2.852788  52.272552    0.0     NaN       NaN
70    50250  1553558400000  -2.852788  52.272552    0.0     NaN       NaN
71    50250  1553731200000  -2.852788  52.272552    0.0     NaN       NaN
72    50250  1553990400000  -2.852788  52.272552  100.0     NaN       NaN

    alias                       geometry
0     NaN  POINT (-2.8527878 52.2725521)
1     NaN  POINT (-2.8527878 52.2725521)
2     NaN  POINT (-2.8527878 52.2725521)
3     NaN  POINT (-2.8527878 52.2725521)
4     NaN  POINT (-2.8527878 52.2725521)
..    ...                            ...
68    NaN  POINT (-2.8527878 52.2725521)
69    NaN  POINT (-2.8527878 52.2725521)
70    NaN  POINT (-2.8527878 52.2725521)
71    NaN  POINT (-2.8527878 52.2725521)
72    NaN  POINT (-2.8527878 52.2725521)

[73 rows x 9 columns]

In [30]:
# ESA: Sentinel 2, Band 7 / Vegetation Red Edge, UK
band_seven_sentinel2_point_query = create_point_query("49684","52.2725521","-2.8527878","2018-05-26T00:00:00Z","2019-05-26T00:00:00Z")

In [31]:
sentinel2_band7= paw.PAIRSQuery(band_seven_sentinel2_point_query, PAIRS_SERVER, PAIRS_CREDENTIALS, authType='api-key')
sentinel2_band7.submit()

`pairsHost`='https://pairs.res.ibm.com/' and `baseURI`='/' merged to: 'https://pairs.res.ibm.com/'
C:\Users\Didem Durukan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
GeoPandas not available on your system. Cannot convert vector dataframe to GeoPandas dataframe.

In [32]:
print(sentinel2_band7.vdf)

    layerId      timestamp  longitude   latitude   value  region  property  \
0     49684  1538438400000  -2.852788  52.272552  0.5273     NaN       NaN
1     49684  1538870400000  -2.852788  52.272552  0.5896     NaN       NaN
2     49684  1539302400000  -2.852788  52.272552  0.9181     NaN       NaN
3     49684  1539734400000  -2.852788  52.272552  0.4533     NaN       NaN
4     49684  1540166400000  -2.852788  52.272552  0.4540     NaN       NaN
5     49684  1540598400000  -2.852788  52.272552  1.1455     NaN       NaN
6     49684  1541030400000  -2.852788  52.272552  0.4734     NaN       NaN
7     49684  1541462400000  -2.852788  52.272552  0.6356     NaN       NaN
8     49684  1541894400000  -2.852788  52.272552  0.3189     NaN       NaN
9     49684  1542326400000  -2.852788  52.272552  0.7700     NaN       NaN
10    49684  1542758400000  -2.852788  52.272552  0.9647     NaN       NaN
11    49684  1543190400000  -2.852788  52.272552  0.2859     NaN       NaN
12    49684  1543622400000  -2.852788  52.272552  0.6404     NaN       NaN
13    49684  1544054400000  -2.852788  52.272552  0.7960     NaN       NaN
14    49684  1544486400000  -2.852788  52.272552  0.4024     NaN       NaN
15    49684  1544918400000  -2.852788  52.272552  0.3029     NaN       NaN
16    49684  1545350400000  -2.852788  52.272552  0.4427     NaN       NaN
17    49684  1545782400000  -2.852788  52.272552  0.5917     NaN       NaN
18    49684  1546214400000  -2.852788  52.272552  0.4292     NaN       NaN
19    49684  1546646400000  -2.852788  52.272552  0.9157     NaN       NaN
20    49684  1547078400000  -2.852788  52.272552  0.3605     NaN       NaN
21    49684  1547510400000  -2.852788  52.272552  0.6777     NaN       NaN
22    49684  1547942400000  -2.852788  52.272552  0.6207     NaN       NaN
23    49684  1548374400000  -2.852788  52.272552  0.2719     NaN       NaN
24    49684  1548806400000  -2.852788  52.272552  0.0850     NaN       NaN
25    49684  1549238400000  -2.852788  52.272552  0.2781     NaN       NaN
26    49684  1549670400000  -2.852788  52.272552  0.3356     NaN       NaN
27    49684  1550102400000  -2.852788  52.272552  0.2029     NaN       NaN
28    49684  1550534400000  -2.852788  52.272552  0.2098     NaN       NaN
29    49684  1550966400000  -2.852788  52.272552  0.3015     NaN       NaN
30    49684  1551398400000  -2.852788  52.272552  0.9676     NaN       NaN
31    49684  1551830400000  -2.852788  52.272552  0.7317     NaN       NaN
32    49684  1552262400000  -2.852788  52.272552  0.1999     NaN       NaN
33    49684  1552694400000  -2.852788  52.272552  0.8969     NaN       NaN
34    49684  1553126400000  -2.852788  52.272552  0.1546     NaN       NaN
35    49684  1553558400000  -2.852788  52.272552  0.0710     NaN       NaN
36    49684  1553990400000  -2.852788  52.272552  0.5460     NaN       NaN

    alias                       geometry
0     NaN  POINT (-2.8527878 52.2725521)
1     NaN  POINT (-2.8527878 52.2725521)
2     NaN  POINT (-2.8527878 52.2725521)
3     NaN  POINT (-2.8527878 52.2725521)
4     NaN  POINT (-2.8527878 52.2725521)
5     NaN  POINT (-2.8527878 52.2725521)
6     NaN  POINT (-2.8527878 52.2725521)
7     NaN  POINT (-2.8527878 52.2725521)
8     NaN  POINT (-2.8527878 52.2725521)
9     NaN  POINT (-2.8527878 52.2725521)
10    NaN  POINT (-2.8527878 52.2725521)
11    NaN  POINT (-2.8527878 52.2725521)
12    NaN  POINT (-2.8527878 52.2725521)
13    NaN  POINT (-2.8527878 52.2725521)
14    NaN  POINT (-2.8527878 52.2725521)
15    NaN  POINT (-2.8527878 52.2725521)
16    NaN  POINT (-2.8527878 52.2725521)
17    NaN  POINT (-2.8527878 52.2725521)
18    NaN  POINT (-2.8527878 52.2725521)
19    NaN  POINT (-2.8527878 52.2725521)
20    NaN  POINT (-2.8527878 52.2725521)
21    NaN  POINT (-2.8527878 52.2725521)
22    NaN  POINT (-2.8527878 52.2725521)
23    NaN  POINT (-2.8527878 52.2725521)
24    NaN  POINT (-2.8527878 52.2725521)
25    NaN  POINT (-2.8527878 52.2725521)
26    NaN  POINT (-2.8527878 52.2725521)
27    NaN  POINT (-2.8527878 52.2725521)
28    NaN  POINT (-2.8527878 52.2725521)
29    NaN  POINT (-2.8527878 52.2725521)
30    NaN  POINT (-2.8527878 52.2725521)
31    NaN  POINT (-2.8527878 52.2725521)
32    NaN  POINT (-2.8527878 52.2725521)
33    NaN  POINT (-2.8527878 52.2725521)
34    NaN  POINT (-2.8527878 52.2725521)
35    NaN  POINT (-2.8527878 52.2725521)
36    NaN  POINT (-2.8527878 52.2725521)

In [33]:
# ESA: Sentinel 2, scene classification
scene_class_sentinel2_point_query = create_point_query("49362","52.2725521","-2.8527878","2018-05-26T00:00:00Z","2019-05-26T00:00:00Z")

In [34]:
sentinel2_scene_class= paw.PAIRSQuery(scene_class_sentinel2_point_query, PAIRS_SERVER, PAIRS_CREDENTIALS, authType='api-key')
sentinel2_scene_class.submit()

`pairsHost`='https://pairs.res.ibm.com/' and `baseURI`='/' merged to: 'https://pairs.res.ibm.com/'
C:\Users\Didem Durukan\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
GeoPandas not available on your system. Cannot convert vector dataframe to GeoPandas dataframe.

In [35]:
print(sentinel2_scene_class.vdf)

    layerId      timestamp  longitude   latitude  value  region  property  \
0     49362  1538438400000  -2.852788  52.272552    9.0     NaN       NaN
1     49362  1538870400000  -2.852788  52.272552    8.0     NaN       NaN
2     49362  1539302400000  -2.852788  52.272552    9.0     NaN       NaN
3     49362  1539734400000  -2.852788  52.272552    8.0     NaN       NaN
4     49362  1540166400000  -2.852788  52.272552    8.0     NaN       NaN
5     49362  1540598400000  -2.852788  52.272552    9.0     NaN       NaN
6     49362  1541030400000  -2.852788  52.272552    9.0     NaN       NaN
7     49362  1541462400000  -2.852788  52.272552    9.0     NaN       NaN
8     49362  1541894400000  -2.852788  52.272552    4.0     NaN       NaN
9     49362  1542326400000  -2.852788  52.272552    9.0     NaN       NaN
10    49362  1542758400000  -2.852788  52.272552    9.0     NaN       NaN
11    49362  1543190400000  -2.852788  52.272552    8.0     NaN       NaN
12    49362  1543622400000  -2.852788  52.272552    9.0     NaN       NaN
13    49362  1544054400000  -2.852788  52.272552    9.0     NaN       NaN
14    49362  1544486400000  -2.852788  52.272552    9.0     NaN       NaN
15    49362  1544918400000  -2.852788  52.272552    8.0     NaN       NaN
16    49362  1545350400000  -2.852788  52.272552    9.0     NaN       NaN
17    49362  1545782400000  -2.852788  52.272552    9.0     NaN       NaN
18    49362  1546214400000  -2.852788  52.272552    9.0     NaN       NaN
19    49362  1546646400000  -2.852788  52.272552    9.0     NaN       NaN
20    49362  1547078400000  -2.852788  52.272552    9.0     NaN       NaN
21    49362  1547510400000  -2.852788  52.272552    9.0     NaN       NaN
22    49362  1547942400000  -2.852788  52.272552    9.0     NaN       NaN
23    49362  1548374400000  -2.852788  52.272552    8.0     NaN       NaN
24    49362  1548806400000  -2.852788  52.272552    3.0     NaN       NaN
25    49362  1549238400000  -2.852788  52.272552    8.0     NaN       NaN
26    49362  1549670400000  -2.852788  52.272552    8.0     NaN       NaN
27    49362  1550102400000  -2.852788  52.272552    8.0     NaN       NaN
28    49362  1550534400000  -2.852788  52.272552    8.0     NaN       NaN
29    49362  1550966400000  -2.852788  52.272552    9.0     NaN       NaN
30    49362  1551398400000  -2.852788  52.272552    9.0     NaN       NaN
31    49362  1551830400000  -2.852788  52.272552   11.0     NaN       NaN
32    49362  1552262400000  -2.852788  52.272552    5.0     NaN       NaN
33    49362  1552694400000  -2.852788  52.272552    9.0     NaN       NaN
34    49362  1553126400000  -2.852788  52.272552    7.0     NaN       NaN
35    49362  1553558400000  -2.852788  52.272552    3.0     NaN       NaN
36    49362  1553990400000  -2.852788  52.272552    9.0     NaN       NaN

    alias                       geometry
0     NaN  POINT (-2.8527878 52.2725521)
1     NaN  POINT (-2.8527878 52.2725521)
2     NaN  POINT (-2.8527878 52.2725521)
3     NaN  POINT (-2.8527878 52.2725521)
4     NaN  POINT (-2.8527878 52.2725521)
5     NaN  POINT (-2.8527878 52.2725521)
6     NaN  POINT (-2.8527878 52.2725521)
7     NaN  POINT (-2.8527878 52.2725521)
8     NaN  POINT (-2.8527878 52.2725521)
9     NaN  POINT (-2.8527878 52.2725521)
10    NaN  POINT (-2.8527878 52.2725521)
11    NaN  POINT (-2.8527878 52.2725521)
12    NaN  POINT (-2.8527878 52.2725521)
13    NaN  POINT (-2.8527878 52.2725521)
14    NaN  POINT (-2.8527878 52.2725521)
15    NaN  POINT (-2.8527878 52.2725521)
16    NaN  POINT (-2.8527878 52.2725521)
17    NaN  POINT (-2.8527878 52.2725521)
18    NaN  POINT (-2.8527878 52.2725521)
19    NaN  POINT (-2.8527878 52.2725521)
20    NaN  POINT (-2.8527878 52.2725521)
21    NaN  POINT (-2.8527878 52.2725521)
22    NaN  POINT (-2.8527878 52.2725521)
23    NaN  POINT (-2.8527878 52.2725521)
24    NaN  POINT (-2.8527878 52.2725521)
25    NaN  POINT (-2.8527878 52.2725521)
26    NaN  POINT (-2.8527878 52.2725521)
27    NaN  POINT (-2.8527878 52.2725521)
28    NaN  POINT (-2.8527878 52.2725521)
29    NaN  POINT (-2.8527878 52.2725521)
30    NaN  POINT (-2.8527878 52.2725521)
31    NaN  POINT (-2.8527878 52.2725521)
32    NaN  POINT (-2.8527878 52.2725521)
33    NaN  POINT (-2.8527878 52.2725521)
34    NaN  POINT (-2.8527878 52.2725521)
35    NaN  POINT (-2.8527878 52.2725521)
36    NaN  POINT (-2.8527878 52.2725521)

<h1>Create Dataframes and Merge</h1>

In [37]:
# ESA: Sentinel 2, Normalized difference vegetation index, UK
sentinel2_nvdi_df = sentinel2_nvdi.vdf

In [39]:
sentinel2_nvdi_df.rename(columns={"value": "nvdi_value"},inplace = True)

In [41]:
# ESA: Sentinel 2, Cloud Probability, UK
sentinel2_cloud_prob_df = sentinel2_cloud_prob.vdf

In [43]:
sentinel2_cloud_prob_df.rename(columns={"value": "cloud_prob"},inplace = True)

,layerId,timestamp,longitude,latitude,cloud_prob,region,property,alias,geometry
0,50250,1538438400000,-2.852788,52.272552,100.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
1,50250,1538611200000,-2.852788,52.272552,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
2,50250,1538870400000,-2.852788,52.272552,51.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
3,50250,1539043200000,-2.852788,52.272552,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
4,50250,1539302400000,-2.852788,52.272552,93.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
...,...,...,...,...,...,...,...,...,...
68,50250,1553126400000,-2.852788,52.272552,7.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
69,50250,1553299200000,-2.852788,52.272552,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
70,50250,1553558400000,-2.852788,52.272552,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
71,50250,1553731200000,-2.852788,52.272552,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
72,50250,1553990400000,-2.852788,52.272552,100.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)

In [45]:
# ESA: Sentinel 2, Band 7 / Vegetation Red Edge, UK
sentinel2_band7_df = sentinel2_band7.vdf

In [47]:
sentinel2_band7_df.rename(columns={"value": "vegat_red"},inplace = True)

,layerId,timestamp,longitude,latitude,vegat_red,region,property,alias,geometry
0,49684,1538438400000,-2.852788,52.272552,0.5273,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
1,49684,1538870400000,-2.852788,52.272552,0.5896,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
2,49684,1539302400000,-2.852788,52.272552,0.9181,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
3,49684,1539734400000,-2.852788,52.272552,0.4533,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
4,49684,1540166400000,-2.852788,52.272552,0.4540,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
5,49684,1540598400000,-2.852788,52.272552,1.1455,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
6,49684,1541030400000,-2.852788,52.272552,0.4734,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
7,49684,1541462400000,-2.852788,52.272552,0.6356,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
8,49684,1541894400000,-2.852788,52.272552,0.3189,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
9,49684,1542326400000,-2.852788,52.272552,0.7700,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
10,49684,1542758400000,-2.852788,52.272552,0.9647,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
11,49684,1543190400000,-2.852788,52.272552,0.2859,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
12,49684,1543622400000,-2.852788,52.272552,0.6404,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
13,49684,1544054400000,-2.852788,52.272552,0.7960,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
14,49684,1544486400000,-2.852788,52.272552,0.4024,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
15,49684,1544918400000,-2.852788,52.272552,0.3029,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
16,49684,1545350400000,-2.852788,52.272552,0.4427,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
17,49684,1545782400000,-2.852788,52.272552,0.5917,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
18,49684,1546214400000,-2.852788,52.272552,0.4292,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
19,49684,1546646400000,-2.852788,52.272552,0.9157,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
20,49684,1547078400000,-2.852788,52.272552,0.3605,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
21,49684,1547510400000,-2.852788,52.272552,0.6777,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
22,49684,1547942400000,-2.852788,52.272552,0.6207,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
23,49684,1548374400000,-2.852788,52.272552,0.2719,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
24,49684,1548806400000,-2.852788,52.272552,0.0850,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
25,49684,1549238400000,-2.852788,52.272552,0.2781,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
26,49684,1549670400000,-2.852788,52.272552,0.3356,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
27,49684,1550102400000,-2.852788,52.272552,0.2029,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
28,49684,1550534400000,-2.852788,52.272552,0.2098,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
29,49684,1550966400000,-2.852788,52.272552,0.3015,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
30,49684,1551398400000,-2.852788,52.272552,0.9676,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
31,49684,1551830400000,-2.852788,52.272552,0.7317,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
32,49684,1552262400000,-2.852788,52.272552,0.1999,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
33,49684,1552694400000,-2.852788,52.272552,0.8969,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
34,49684,1553126400000,-2.852788,52.272552,0.1546,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
35,49684,1553558400000,-2.852788,52.272552,0.0710,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
36,49684,1553990400000,-2.852788,52.272552,0.5460,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)

In [51]:
# ESA: Sentinel 2, Scene classification
sentinel2_scene_class_df = sentinel2_scene_class.vdf

In [53]:
sentinel2_scene_class_df.rename(columns={"value": "class"},inplace = True)

,layerId,timestamp,longitude,latitude,class,region,property,alias,geometry
0,49362,1538438400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
1,49362,1538870400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
2,49362,1539302400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
3,49362,1539734400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
4,49362,1540166400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
5,49362,1540598400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
6,49362,1541030400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
7,49362,1541462400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
8,49362,1541894400000,-2.852788,52.272552,4.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
9,49362,1542326400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
10,49362,1542758400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
11,49362,1543190400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
12,49362,1543622400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
13,49362,1544054400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
14,49362,1544486400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
15,49362,1544918400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
16,49362,1545350400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
17,49362,1545782400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
18,49362,1546214400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
19,49362,1546646400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
20,49362,1547078400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
21,49362,1547510400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
22,49362,1547942400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
23,49362,1548374400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
24,49362,1548806400000,-2.852788,52.272552,3.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
25,49362,1549238400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
26,49362,1549670400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
27,49362,1550102400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
28,49362,1550534400000,-2.852788,52.272552,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
29,49362,1550966400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
30,49362,1551398400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
31,49362,1551830400000,-2.852788,52.272552,11.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
32,49362,1552262400000,-2.852788,52.272552,5.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
33,49362,1552694400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
34,49362,1553126400000,-2.852788,52.272552,7.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
35,49362,1553558400000,-2.852788,52.272552,3.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
36,49362,1553990400000,-2.852788,52.272552,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)

In [62]:
nvdi_cloudProb=pd.merge(sentinel2_nvdi_df, sentinel2_cloud_prob_df, on=['longitude','latitude','timestamp'], how='outer')
nvdi_cloudProb

,layerId_x,timestamp,longitude,latitude,nvdi_value,region_x,property_x,alias_x,geometry_x,layerId_y,cloud_prob,region_y,property_y,alias_y,geometry_y
0,49464.0,1538438400000,-2.852788,52.272552,0.1465,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,100.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
1,49464.0,1538870400000,-2.852788,52.272552,0.4119,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,51.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
2,49464.0,1539302400000,-2.852788,52.272552,0.0148,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,93.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
3,49464.0,1539734400000,-2.852788,52.272552,0.4290,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,29.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
4,49464.0,1540166400000,-2.852788,52.272552,0.4807,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,26.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,1552003200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
69,NaN,1552435200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
70,NaN,1552867200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
71,NaN,1553299200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
72,NaN,1553731200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,0.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)

In [63]:
nvdi_cloudProb_band7=pd.merge(nvdi_cloudProb, sentinel2_band7_df, on=['longitude','latitude','timestamp'], how='outer')

In [66]:
nvdi_cloudProb_band7_class = pd.merge(nvdi_cloudProb_band7, sentinel2_scene_class_df, on=['longitude','latitude','timestamp'], how='outer')

C:\Users\Didem Durukan\AppData\Local\Temp\ipykernel_28524\3692881768.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'region_x', 'property_x', 'alias_x', 'geometry_x', 'layerId_x'} in the result is deprecated and will raise a MergeError in a future version.
  nvdi_cloudProb_band7_class = pd.merge(nvdi_cloudProb_band7, sentinel2_scene_class_df, on=['longitude','latitude','timestamp'], how='outer')

In [67]:
nvdi_cloudProb_band7_class

,layerId_x,timestamp,longitude,latitude,nvdi_value,region_x,property_x,alias_x,geometry_x,layerId_y,...,region_x,property_x,alias_x,geometry_x,layerId_y,class,region_y,property_y,alias_y,geometry_y
0,49464.0,1538438400000,-2.852788,52.272552,0.1465,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,...,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),49362.0,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
1,49464.0,1538870400000,-2.852788,52.272552,0.4119,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,...,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),49362.0,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
2,49464.0,1539302400000,-2.852788,52.272552,0.0148,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,...,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),49362.0,9.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
3,49464.0,1539734400000,-2.852788,52.272552,0.4290,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,...,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),49362.0,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
4,49464.0,1540166400000,-2.852788,52.272552,0.4807,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),50250,...,NaN,NaN,NaN,POINT (-2.8527878 52.2725521),49362.0,8.0,NaN,NaN,NaN,POINT (-2.8527878 52.2725521)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,1552003200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,1552435200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,1552867200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,1553299200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,1553731200000,-2.852788,52.272552,NaN,NaN,NaN,NaN,NaN,50250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
nvdi_cloudProb_band7_class.drop(['layerId_x', 'layerId_y','region_x','region_y','alias_x','alias_y','geometry_x','geometry_y'], axis=1,inplace = True)

In [70]:
nvdi_cloudProb_band7_class.drop(['property_x','property_y'],axis=1,inplace = True)

In [71]:
nvdi_cloudProb_band7_class

,timestamp,longitude,latitude,nvdi_value,cloud_prob,vegat_red,class
0,1538438400000,-2.852788,52.272552,0.1465,100.0,0.5273,9.0
1,1538870400000,-2.852788,52.272552,0.4119,51.0,0.5896,8.0
2,1539302400000,-2.852788,52.272552,0.0148,93.0,0.9181,9.0
3,1539734400000,-2.852788,52.272552,0.4290,29.0,0.4533,8.0
4,1540166400000,-2.852788,52.272552,0.4807,26.0,0.4540,8.0
...,...,...,...,...,...,...,...
68,1552003200000,-2.852788,52.272552,NaN,0.0,NaN,NaN
69,1552435200000,-2.852788,52.272552,NaN,0.0,NaN,NaN
70,1552867200000,-2.852788,52.272552,NaN,0.0,NaN,NaN
71,1553299200000,-2.852788,52.272552,NaN,0.0,NaN,NaN
72,1553731200000,-2.852788,52.272552,NaN,0.0,NaN,NaN